@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&family=Work+Sans:wght@600&display=swap');

#slide{
	display: none;
}

#section1-h1{
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
	margin-bottom: 20px;
	background-color: #59de64;
	color: #ffffff;
	font-family: 'Work Sans', sans-serif;
}

.section1-p{
	display: flex;
	justify-content: center;
}
#section1 div div h2, p{
	text-align: center;
}

.section1-svg{
	width: 50px;
	height: 50px;
}

.section1-h2{
	font-family: 'Work Sans', sans-serif;
}

#section1-add{
	display: none;
}

/* section 2 */
#section2{
	background-image: linear-gradient(180deg, #bdffc2, #ffffff);
}

.section2-h2, .section2-p{
	text-align: center;
}

.section2-h2{
	font-family: 'Work Sans', sans-serif;
	font-size: 150%;
	padding-top: 25px;
}

.section2-p{
	display: flex;
	justify-content: center;
}
.section2-p p{
	width: 70%;
}

.break-point{
	display: flex;
	justify-content: center;
}

/* section 3 */

#section3-h1{
	text-align: center;
	padding-top: 40px;
	padding-bottom: 50px;
	font-family: 'Work Sans', sans-serif;
}
.section3-img{
	border-radius: 50%;
	width: 30%;
}
.section3-img:hover{
	opacity: 80%;
}
.section3-a{
	display: flex;
	justify-content: center;
}

.section3-h2{
	text-align: center;
	padding-bottom: 40px;
	font-size: 150%;
	font-family: 'Work Sans', sans-serif;
}

#section3{
	padding-bottom: 2%;
}

/* footer */
.footer-a{
	padding-left: 20px;
}
.footer-a:hover{
	color: #59de64;
}

#footer-a-group{
	padding-bottom: 10px;
}

#contact-a{
	padding-left: 7%; 
	font-size: 120%;
}

@media only screen and (min-width: 992px) {
	#slide{
		display: block;
		width: 100% !important;
	}
	.carousel-inner .item img{
	    width: 100%;
	    height: 660px;
	}
	.slide-p{
		text-shadow: 4px 4px 8px #000000;
		font-size: 120%;
	}

	/* section 1 */

	.section1-svg{
		width: 70px;
		height: 70px;
	}

	#section1-h1{
		padding-top: 70px;
		padding-bottom: 50px;
		margin-bottom: 0px;
		background-color: #ffffff;
		color: #000000;
		font-size: 300%;
	}

	#section1{
		margin-bottom: 60px;
	}

	#section1-add{
		display: block;
		display: flex; 
		justify-content: center;
	}

	.section1-add-img{
		margin-left: 45px; 
		margin-top: 70px; 
		border-radius: 50%;
		width: 140px;
		opacity: 80%;
	}
	.section1-add-img:hover{
		opacity: 100%;
	}


	/* section 3 */
	.section3-img{
		width: 50%;
	}

	/* footer */
	#contact-a{
		padding-left: 10%; 
		font-size: 120%;
	}

}